@import  url('style.css');

body{
    background: url('../img/bg-login.jpg') center center / cover no-repeat;
}
.main{
    position: relative;
    height: 100%;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  pointer-events: none; 
  z-index: -1;
}

.btn-add{
    border:none !important;
}
.qtd-btn{
    background: var(--amarelo)
}