body{
    background: url('../img/bg-login.jpg') center center / cover no-repeat;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  pointer-events: none; 
  z-index: -1;
}
.header, .footer{
    background-color: transparent !important;
}

.title-section {
    color: white;
}

.login-box {
    background: white;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}